<div class="container">
<div  class="jumbotron jumbotron-fluid " >
    <h3>SubCategory</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>Category Name
              <select type="text" formControlName="catName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.catName.errors }">
                  <option *ngFor="let item of category" [value]=item.catId>{{item.catName}}</option>
                  </select>
                  </label>
                  <div *ngIf="submitted && f.catName.errors" class="invalid-feedback">
                      <div *ngIf="f.catName.errors.required">Category Name is required</div>
                  </div>
            </div>
            <div class="form-group">
                <label>SubCategory Name</label>
                <input type="text" formControlName="subCName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subCName.errors }" />
                    <div *ngIf="submitted && f.subCName.errors" class="invalid-feedback">
                        <div *ngIf="f.subCName.errors.required">SubCategory Name is required</div>
                    </div>
              </div>
              <div class="form-group">
                <label>GST</label>
                <input type="number" formControlName="gst" class="form-control" />
                </div>
          <div class="form-group">
              <label>Brief Details</label>
              <textarea formControlName="briefSubCdetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.briefSubCdetails.errors }"></textarea>
          </div>
         <div class="text-center">
          <button  type="submit" >Add</button>&nbsp;
          <button  type="reset" (click)="onReset()">Reset</button>
         </div>
     </form>
    </div>
</div>
    
    
    

