
.r{
  
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url('/assets/images/view-cart.jpg');
    background-color: #cccccc; 
    height:1500px;
    background-position:center; 
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
      }
 .nav-item{
    
    /* 
     */
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
    }
    .sidenav {
      height: 100%;
      width: 200px; 
      position: fixed; 
      z-index: 1; 
      top:50px; 
      left:0;
      background-color: #111; 
      overflow-x: hidden; 
      padding-top:50px;
    }
    .sidenav a {
      padding: 6px 8px 6px 20px;
      text-decoration: none;
      font-size:20px;
      color: #818181;
      display: block;
      text-decoration: none;
     font-size: 17px;
      
    }
    .sidenav a:hover {
      color: #f1f1f1;
    }
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  
  
  