.a{
  margin-left:500px;
  margin-top:20px;
}
.b{
  margin-left:500px;
  margin-top:20px;
}
th{
  font-size:20px;
}
td{
  font-size:150%;
}

.a{
  margin-left:500px;
  margin-top:200px;
}
label{
  font-size:200%;
}
button
{
  font-size:15px;
}
