.r{
  background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
  url('/assets/images/home.jpg');
  background-color: #cccccc; 
  height:1700px;
  background-position:center; 
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  }
 .nav-item{
  
    
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
  }
  .dropdown-menu
  {
     background-color:grey;
    margin-left:1500px;
  }
  
   /* .sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  } 
    */
