@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
}
label{
  margin-left: 20px;
  font-size:15px;
}

.container {
  padding: 16px;
  margin-top:200px;
  margin-left:500px;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
a {
  color: dodgerblue;
}



 
/*assign full width inputs*/ 
  
input[type=text], 
input[type=password] { 
   
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
} 
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


button { 
    
  background-color:black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 85px;
  opacity: 0.9;
} 
.container { 
    padding: 14px; 
  
} 
@media screen and (max-width: 700px) {
  
    form { 
        display: block; 
        float: none; 
    } 
    
} 
.jumbotron{
  width : 350px;
  position:absolute;
  background-size: cover;
  background-color:grey;
  background-attachment: fixed;
  margin-left:350px;
  margin-top:200px;
}
h3{
  text-align: center;
  color:black;
}



