<div class="a">
  <h3>Items</h3>
          <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Category:
                <select  formControlName="catName" (click)="GetSubCategory()">
                 <option *ngFor="let item of category" [value]=item.catId>{{item.catName}}</option>
                </select>
            </label>
            </div>
            <div class="form-group">
                <label>SubCategory:
                <select  formControlName="subCName" (click)="GetItem()">
                 <option *ngFor="let item of subcategory" [value]=item.subCId>{{item.subCName}}</option>
                </select>
            </label>
            </div>
        </form>
      </div>   
<div class="b">
    <div  class="table">
        <div class="table-responsive">
            <tr>
            <th>ItemName</th>
            <th>Price</th>
            <th>ItemDescrption</th>
            </tr>
            <tr *ngFor="let item of item">
            
             <td>{{item.price}}</td>
            <td>{{item.itemName}}</td>
            <td>{{item.itemDesp}}</td>
          <td><button class="btn btn-danger mr-1"(click)="Delete(item.itemId)">Delete</button></td> 
            </tr>
        </div>
    </div>
</div>
